@import url("https://use.typekit.net/euz1eqv.css");

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#slider canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#slider img {
    display: none; /* on n'en a plus besoin une fois la texture chargée */
}

/* Page Loader */
.loading {
    &:before {
        content: "";
        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
    }

    &:after {
        content: "";
        position: fixed;
        z-index: 100000;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        margin: -30px 0 0 -30px;
        pointer-events: none;
        border-radius: 50%;
        opacity: 0.4;
        background: white;
        animation: loaderAnim 0.7s linear infinite alternate forwards;
    }
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}
